<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--类型别名是为 Java 类型设置一个短的名字。它只和 XML 配置有关，存在的意义仅在于用来减少类完全限定名的冗余  -->
	<typeAliases>
		<!-- 使用Merchant别名代替对应的全类名 -->
		 <!-- <typeAlias alias="Merchant" type="com.mybatis.helloworld.bean.Merchant"/> -->
		 <!--指定一个包名，MyBatis 会在包名下面搜索需要的 Java Bean  -->
		 <package name="com.mybatis.helloworld.bean"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@10.45.47.18:1521:bigdata" />
				<property name="username" value="life" />
				<property name="password" value="life" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mybatis/mapper/MerchantMapper.xml" /> 
		<mapper resource="mybatis/mapper/MerchantMapperInterface.xml" /> 
		
		<!--接口+注解的方式需要配置对应的接口类 -->
		<mapper class="com.mybatis.helloworld.MerchantMapperAnnotation" />
		
	</mappers>
</configuration>